footer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 30px;
}

footer div{
    
    padding: 20px;
    width: 33%;
    text-decoration: none;
}

footer p{
    margin-top: 15px;
}

/****** Media queries ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    footer{
        flex-direction: column;
    }
}