/*** Header et Navbar ***/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    padding-top: 14px;
}

.header-logo{
    width: 61px;
    padding: 30px;
}

nav a{
    margin-left: 68px;
    padding-top: 12px;
}

nav a:hover{
    color: var(--main-color);
    border-top: 2px var(--main-color) solid;
}
/**********************/

/* Barre de recherche */


.info-group{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 35px;
}

.info-group h1{
    font-size: 1.38rem;
}

.searchbar p{
    margin-top: 8px;
    margin-bottom: 35px;
}

.searchbar form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 377px;
    height: var(--searchbar-height);
    background-color: var(--main-bg-color);
    border-radius: 15px;
    margin-bottom: 35px;
}

.searchbar .form-logo{
    width:15px;
    padding-left: 15px;
    padding-right: 15px;
}

.searchbar input{
    border: none;
    width: 147px;
    height: calc(var(--searchbar-height) - 2px);
    padding: 0 24px;
    font-size: 1.13rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    background-color: white;
}

.searchbar .desktop-search-button{
    width: 132px;
    height: var(--searchbar-height);
    font-size: 1.12rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    border-radius: 0px 15px 15px 0px;
    border:none;
}

.searchbar .desktop-search-button:active{
    background-color: blue;
}

.searchbar .mobile-search-button{
    display: none;
    border:none;
    background-color: white;
    border-radius: 15px;
}



/*********************************/

/*******Filtres********/

.filters-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.filters-bar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.filters-buttons{
    display: flex;
    flex-direction: row;
}

.filters-buttons button{ 
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    margin-left: 15px;
    background-color: white;
    border: 2px var(--main-bg-color) solid;
    border-radius: 1.56rem;
    padding-left: 19px;
    padding-right: 19px;
}

.filters-buttons button:hover{
    background-color: var(--filter-bg-color);
}

.filters-buttons img{
    height: 22px;
    margin-right: 9px;
}

.info-items{
    height: 24px;
    display:flex;
    align-items: center;
    margin-top: 35px;
}

.info-items img{
    width: 15px;
    height: 15px;
    padding:10px;
    border: 1px var(--main-bg-color) solid;
    border-radius: 20px ;    
    margin-right: 10px;
}

/**********************/

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters-bar{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .filters-bar h3{
        align-self: start;
    }

    .filters-buttons button{
        margin-top: 20px;
        font-size: 1rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 115px;
        padding-top: 14px;
    }
    
    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
    }

    nav a{        
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 0;
        padding-bottom: 21px;
        margin: 0;
        border-bottom: 2px var(--main-bg-color) solid;
    }
    
    nav a:hover{
        color: var(--main-color);
        border-top: none;
        border-bottom: 2px var(--main-color) solid;
    }


    .searchbar .desktop-search-button{
        display: none;
    }
    
    .searchbar form{
        width: 100%;
    }

    .searchbar input{
        width: 100%;
    }

    .searchbar .mobile-search-button{
        display:flex;
    }

    .filters-buttons{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }

    .filters-buttons button{
        font-size: 0.88rem;
    }

    .filters-buttons img{
        height: 22px;
        margin-right: 5px;
    }
}