/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    /* --main-color: violet; */
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    align-self: center;
    padding: 0 50px;
    box-sizing: border-box;
}

main section {
    padding: 30px;
    margin-bottom: 35px;
}

.main-title {
    font-size: 1.38rem;
}

.section-title {
    margin: 0 0 35px 0;
    font-size: 22px;
}

p {
    margin-top: 4px;
}

a {
    color: inherit;
    text-decoration: none;
}




.card {
    background-color: white;
    border-radius: 20px;    
    margin-bottom: 30px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.card-subtitle {
    font-size: 0.88rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/*** Header et Navbar ***/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: 79px;
    padding-top: 14px;
}

.header-logo {
    width: 61px;
    height: 19px;
    padding: 30px 50px;
    fill: var(--main-color);
    
}

nav {
    padding: 0 25px;
}

nav a {
    margin-left: 68px;
    padding-top: 12px;
}

nav a:hover{
    color: var(--main-color);
    border-top: 2px var(--main-color) solid;
}
/**********************/

/* Barre de recherche */


.info-group {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.info-group > div:not(:last-child) {
    margin-bottom: 35px;
}

.headline p {
    margin-top: 8px;
}

.searchbar form{
    display:inline-flex;
    flex-direction: row;
    width:377px;
    height: 49px;    
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-bg-color);
    border-radius: 15px;
}

.location-logo{
    align-content: center;
    width:15px;
    color: black;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 17px;
}

.searchbar input{
    height: 49px;
    border: none;
    padding: 0 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.search-button {
    height: 49px;
    border: none;
    border-radius: 0px 15px 15px 0px;    
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 0 16px;
}

.search-button:active{
    background-color: var(--main-bg-color);
}

.desktop-search-button{
    font-size: 1.12rem;
    font-weight: bold;
}

.mobile-search-button{
    display: none;
    color: white;
}

/*********************************/

/*******Filtres********/

.filters-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.filters-bar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.filters-bar h3 {
    margin-right: 15px;
}

.filters-buttons{
    display: flex;
    flex-direction: row;
}

.filters-buttons button{ 
    display: inline;
    width: auto;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    margin-right: 15px;
    background-color: white;
    border: 2px var(--main-bg-color) solid;
    border-radius: 1.56rem;
    padding-left: 19px;
    padding-right: 19px;
}

.filters-buttons button:hover{
    background-color: var(--filter-bg-color);
}

.filters-buttons i{
    height: 22px;
    margin-right: 9px;
}

.info-items{
    line-height: 24px;
    display:flex;
    align-items: center;
    margin-top: 35px;
}

.info-logo{
    font-size: 10px;
    text-align: center;
    width: 24px;
    border-radius: 24px;
    border: 2px solid var(--main-bg-color);
    margin-right: 10px;
}


/**********************/

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 30px;
}

.hebergements-cards img{
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
    margin-top: 8px;
    margin-bottom: 8px;
}

.show-more{
    font-size: 1.13rem;
    font-weight: 700;
}
/*****************************/

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
}

.populaires-cards .card{
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/*****************************/

/*Activites*/

.activities{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 35px; 
}

.activities-cards{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.activities-cards a{
    height: 440px;
    width: 23%;
}

.activities-cards .card {
    padding: 0;
}

.activity-card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.activity-card img{
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activity-card h3{
    margin: 19px;
}

/***************************/

/*Footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: var(--main-bg-color);
    
}

footer div{    
    padding: 20px;
    width: 33%;
    margin-right: 30px;
}

footer div:last-child {
    margin-right: 0;
}



footer p{
    margin-top: 15px;
}

/**********/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /*Filtres*/
    .filters-bar{
        display: flex;
        flex-direction: column;        
        justify-content: flex-start;
    }

    .filters-bar h3{
        align-self: start;
    }

    .filters-buttons {        
        width:100%;
    }

    .filters-buttons button{
        margin-top: 20px;
        font-size: 16px;
    }

    /***********/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    /*Hebergements*/
    .hebergements-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hebergements {
        width: 100%;
        padding: 30px;
    }

    /*Populaires*/
    .populaires {
        width: 100%;
    }

    .populaires .section-title {
        margin-bottom: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        margin-bottom: 0;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*Activites*/
    .activities-cards a{
        height: 270px;
    }

    .activity-card img{
        height: 200px;
    }



}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /*General*/
    .main-container {
        padding: 0;
    }

    main section{
        padding: 20px;
    }

    /*Header*/
    header{
        position: sticky;
        top: 0px;
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 115px;
        padding-top: 14px;
        margin-bottom: 35px;
        padding: 0;
        background-color: white; 
    }

    .header-logo {
        padding: 30px;
    }
    
    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
        padding: 0;
    }

    nav a{        
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 0;
        padding-bottom: 20px;
        margin: 0;
        border-bottom: 2px var(--main-bg-color) solid;
    }
    
    nav a:hover{
        color: var(--main-color);
        border-top: none;
        border-bottom: 2px var(--main-color) solid;
    }

    /*Barre de recherche*/

    .info-group{
        padding: 0 20px;
    }

    .searchbar{
        width: 100%;
    }
    .searchbar form{
        width: 100%;
    }

    .search-button {
        border-radius: 15px;
        background-color: var(--main-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .desktop-search-button{
        display: none;
    }
    
    .mobile-search-button{
        display:block;
    }

    .searchbar input{
        width: 100%;
        padding: 0;
    }

    /*Filtres*/
    .filters-bar{
        padding: 0px;
    }

    .filters-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .filters-buttons button{
        font-size: 14px;
    }

    .filters-buttons img{
        height: 22px;
        margin-right: 5px;
    }

    /*Hebergements*/

    .hebergements-and-populaires section{
        border-radius: 0;
        padding: 20px;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements-cards .card {        
        margin-bottom: 15px;
    }

    .hebergements-cards{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
    }

    /*Populaires*/
    .populaires{
        order: -1;
        margin-bottom: 15px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;        
        border-radius: 0px;
    }

    .populaires-cards .card {
        margin-bottom: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    /*Activites*/
    .activities-cards{
        flex-direction: column;
    }
    
    .activities-cards a{
        width:100%;
        height: inherit;
    }

    .activities-cards .card {
        margin-bottom: 15px;
    }

    .activity-card{        
        justify-content: center;
    }

    .activity-card img{
        height: 141px;
        width:100%;
    }
    
    .activity-card h3{
        justify-content: left;
    }

    /*Footer*/
    footer{
        flex-direction: column;
    }

    footer div {
        width: fit-content;
        margin-bottom: 50px;
        margin-right: 0px;
    }

    footer div:last-child{
        margin-bottom: 0px;
    }
}